*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    font-family:
        system-ui,
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        Roboto,
        Oxygen,
        Ubuntu,
        Cantarell,
        "Open Sans",
        "Helvetica Neue",
        sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #010d8c;
    color: white;
    text-align: center;
}

h1 {
    font-size: 4em;
}

/**/
main {
    display: flex;
}
.setup {
    width: 50%;
    font-weight: 800;
    font-size: 1.2em;
}
.setup:first-child {
    border-right: 3px solid black;
    padding-right: 1em;
}
.setup:last-child {
    border-left: 3px solid black;
    padding-left: 1em;
}
.setup > * {
    display: block;
    margin: 1em 0;
    border: 0.25em solid black;
    background: transparent;
    padding: 1.25em 3em;
    width: 100%;
    color: inherit;
    font-weight: inherit;
    font-size: inherit;
}
:is(select, input[type="submit"]):hover {
    cursor: pointer;
}
:is(button, input[type="submit"], input[type="button"]):hover {
    background: black;
}
:is(button, input[type="submit"], input[type="button"]) {
    transition: background 0.25s linear;
}

option {
    background-color: #010d8c;
}

/**/
.table {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 4px solid black;
}
.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    border: 3px solid black;
    background-color: #161686;
    padding: 0.25em;
    width: 8em;
    min-height: 4em;
    font-size: 1em;
    text-decoration: none;
    overflow-wrap: break-word;
    overflow-wrap: anywhere;
}
h1,
.setup,
.cell {
    color: #ffcc00;
}
.covered {
    background-image: url(/static/theme.jpg);
    background-position: center;
    background-size: cover;
    color: transparent;
}
.covered[data-index="1"] {
    background-image: url(/static/dj.jpg);
}
.transparent {
    background: transparent;
    pointer-events: none;
    color: transparent;
}
.row {
    display: flex;
    flex-direction: row;
}

/**/
#question {
    border-width: 8px;
    padding: 1.5em;
    width: 48em;
    height: 24em;
    font-weight: bold;
}
.daily-double {
    background-image: url(/static/dd.webp);
    background-position: center;
    background-size: cover;
    pointer-events: none;
    color: transparent;
}
#question h2 {
    font-size: 1.25em;
}
#question p {
    font-size: 1.75em;
}
#question #answer {
    font-size: 1.5em;
}
.last-question #question h2 {
    font-size: 3em;
}
.last-question .hidden {
    display: none;
}
.hidden {
    visibility: hidden;
}

/**/
.players {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.player {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1em;
    border: 5px solid black;
    background: none;
    width: 8em;
    color: white;
    text-decoration: none;
}
.player img {
    width: 100%;
}
.money {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0.5em 0;
    border-width: 5px;
    border-top-style: solid;
    border-bottom-style: solid;
    border-color: black;
    padding: 0 0.25em;
    width: 100%;
}
[data-daily-double="True"] .score {
    display: none;
}
.name {
    margin: 1em 0;
    font-weight: 600;
}
.wager {
    display: flex;
    align-items: baseline;
    width: 100%;
}
.wager > input {
    margin: 0;
    border: 0;
    background: transparent;
    padding: 0;
    width: 100%;
    color: inherit;
    font-weight: inherit;
    font-size: inherit;
}
.answer-button {
    cursor: pointer;
    border-width: 2px;
    border-style: solid;
    border-color: dimgrey;
    background-color: gray;
    width: 21px;
    height: 21px;
    font-size: 12px;
}
.answer-button[data-state="loss"] {
    border-color: darkred;
    background-color: red;
}
.answer-button[data-state="loss"]::before {
    content: "✖";
}

input.answer-button,
.answer-button[data-state="gain"] {
    border-color: darkgreen;
    background-color: green;
    accent-color: green;
}
.answer-button[data-state="gain"]::before {
    content: "✅";
}

/**/
button.player {
    cursor: pointer;
    padding: 3em;
    font-size: inherit;
    font-family: inherit;
}
.final-jeopardy .score {
    display: block;
}
.final-jeopardy .wager,
.final-jeopardy .answer-button,
.final-jeopardy button.player {
    display: none;
}

/**/
.end-game .players:first-of-type {
    position: relative;
}
.end-game .players:first-of-type .player {
    display: none;
}
.end-game .players:first-of-type .timer::before {
    position: absolute;
    right: -50px;
    bottom: 60px;
    transform: rotate(25deg);
    font-size: 70px;
}
.end-game .players:first-of-type [data-player="0"] {
    display: flex;
    position: absolute;
    top: 0;
}
.end-game .players:first-of-type [data-player="0"] .timer::before {
    content: "🥇";
}
.end-game .players:first-of-type [data-player="1"] {
    display: flex;
    position: absolute;
    top: 100px;
    right: 75px;
}
.end-game .players:first-of-type [data-player="1"] .timer::before {
    content: "🥈";
}
.end-game .players:first-of-type [data-player="2"] {
    display: flex;
    position: absolute;
    top: 175px;
    left: 75px;
}
.end-game .players:first-of-type [data-player="2"] .timer::before {
    content: "🥉";
}
.end-game .players:last-of-type {
    margin-top: 450px;
}
.end-game .players:last-of-type .player {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 13em;
}
.end-game
    .players:last-of-type
    :is([data-player="0"], [data-player="1"], [data-player="2"]) {
    display: none;
}
.end-game .players:last-of-type .player img {
    width: 3em;
}
.end-game .players:last-of-type .money {
    justify-content: right;
    order: 3;
    border: none;
    color: #ffffffb3;
}
.end-game .players:last-of-type .name {
    padding-left: 0.25em;
}
