<!-- {% from "components.html" import players_list, format_money %} -->
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Jeopardy!</title>
        <link rel="stylesheet"
              href="{{ url_for('static', filename='styles.css') }}" />
        <meta name="voice" content="{{ room.voice }}" />
        <script type="module" src="/static/end.js"></script>
    </head>
    <body class="end-game">
        <h1>Jeopardy!</h1>
        {{ players_list(room.players) }}
        {{ players_list(room.players) }}
    </body>
</html>
