<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Jeopardy!</title>
        <link rel="stylesheet" href="/static/styles.css" />
        <script type="module" src="/static/players.js"></script>
    </head>
    <body>
        <h1>Jeopardy!</h1>
        <form class="setup" method="post">
            <select name="voice" title="Text-To-Speech Voice"></select>
            <input type="submit" value="Start Room" />
        </form>
        <!-- <form method="POST">
			<input type="tel" placeholder="Room ID" name="room" />
			<input type="submit" value="Join Room" />
</form> -->
    </body>
</html>
