<!-- {% from "components.html" import players_list, format_money %} -->
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Jeopardy!</title>
        <link rel="stylesheet"
              href="{{ url_for('static', filename='styles.css') }}" />
        <script type="module" src="{{ url_for('static', filename='question.js') }}"></script>
        <script type="module" src="{{ url_for('static', filename='answer.js') }}"></script>
        <meta name="voice" content="{{ room.voice }}" />
    </head>
    <body class="{{ 'last-question' if last else '' }}"
          data-daily-double="{{ question.dd }}">
        <h1>{{ room.round_name }}</h1>
        <h2>{{ room.id }}</h2>
        <div class="table" id="question">
            <h2>
                <span id="category">{{ question.category }}</span>
                {% if room.round_index != 2 %}
                    for
                    <span id="value">{{ format_money(question.value) }}</span>
                {% endif %}
            </h2>
            <p class="hidden">{{ question.question }}</p>
            <p id="answer" class="hidden">{{ question.answer }}</p>
        </div>
        {{ players_list(room.players, True if room.round_index != 2 and not question.dd else "wager") }}
    </body>
</html>
