<!-- {% from "components.html" import players_list, format_money %} -->
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Jeopardy!</title>
        <link rel="stylesheet"
              href="{{ url_for('static', filename='styles.css') }}" />
        {% if session["auth_key"] == room.host.auth_key %}
            <script type="module"
                    src="{{ url_for('static', filename='question-host.js') }}"></script>
        {% else %}
            <script type="module"
                    src="{{ url_for('static', filename='question-player.js') }}"></script>
        {% endif %}
        <meta name="auth_key" content="{{ session["auth_key"] }}" />
        <meta name="room" content="{{ room.id }}" />
    </head>
    <body class="{{ 'last-question' if last else '' }}"
          data-daily-double="{{ question.wager and session["auth_key"] == room.host.auth_key }}">
        <h1>{{ room.round_name }}</h1>
        <div class="table" id="question">
            <h2>
                <span id="category">{{ question.category }}</span>
                {% if room.round_index != 2 %}
                    for
                    <span id="value">{{ format_money(question.value) }}</span>
                {% endif %}
            </h2>
            <p class="hidden">{{ question.question }}</p>
        </div>
        {{ players_list(room.players,
                ("wager" if question.wager else True) if session["auth_key"] == room.host.auth_key else False
        ) }}
        <dialog id="answer-dialog">
            <form>
                <p>
                    The correct answer is <b id="answer">{{ question.answer }}</b>.
                </p>
                <div>
                    <button value="1" formmethod="dialog">Correct</button>
                    <button value="0" formmethod="dialog">Incorrect</button>
                </div>
            </form>
        </dialog>
    </body>
</html>
